<div class="login-container">

  <header class="login-header">
  <img src="/assets/logo_p6.png" alt="Logo MDD" class="logo" />
  <div class="header-separator"></div>
  <button
    mat-icon-button
    routerLink="/"
    aria-label="Retour à l’accueil"
    class="back-button">
    <mat-icon class="big-arrow">arrow_back</mat-icon>
  </button>
</header>


  <main class="login-main">
    <h1 class="login-title">Se connecter</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

      <label class="field-label">Nom d'utilisateur</label>
<mat-form-field appearance="outline" class="full-width">
  <input matInput formControlName="emailOrUsername" required autocomplete="username">
  <mat-error *ngIf="loginForm.get('emailOrUsername')?.hasError('required')">
    Le nom d'utilisateur est requis
  </mat-error>
</mat-form-field>

<label class="field-label">Mot de passe</label>
<mat-form-field appearance="outline" class="full-width">
  <input matInput type="password" formControlName="password" required autocomplete="current-password">
  <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
    Le mot de passe est requis
  </mat-error>
</mat-form-field>     

      <div *ngIf="errorMessage" class="error-message" role="alert">
        {{ errorMessage }}
      </div>

      <button
  mat-raised-button
  color="primary"
  type="submit"
  [disabled]="loginForm.invalid || isLoading"
  class="submit-button small-button">
  {{ isLoading ? 'Connexion...' : 'Se connecter' }}
</button>



    </form>
  </main>
</div>